.spacer {
  margin: 0;
  border: none;
  height: 0;
}

.spacer-size {
  &--sm {
    padding-top: to-rem(8);
    padding-bottom: to-rem(8);
  }

  &--md {
    padding-top: to-rem(16);
    padding-bottom: to-rem(16);
  }

  &--default {
    padding-top: to-rem(24);
    padding-bottom: to-rem(24);
  }

  &--lg {
    padding-top: to-rem(40);
    padding-bottom: to-rem(40);
  }

  &--xl {
    padding-top: to-rem(48);
    padding-bottom: to-rem(48);
  }
}
