.pagination {
  display: flex;
  align-items: stretch;

  gap: to-rem(5);
}

.pagination-button {
  cursor: pointer;
  border-width: to-rem(1);
  padding: to-rem(4) to-rem(8);
  width: to-rem(45);

  height: to-rem(30);

  font-size: to-rem(14);
}

.pagination-arrow {
  width: to-rem(18);

  &--first {
    transform: rotate(90deg);
  }

  &--last {
    transform: rotate(-90deg);
  }
}

.pagination-btn-dots {
  padding: 0;

  width: to-rem(45);

  font-size: to-rem(18);
}

.pagination-select {
  margin-bottom: 0;

  select {
    background-image: none;
    padding: to-rem(8);

    width: to-rem(45);

    text-align: center;

    @include respond-above($breakpoint-md) {
      padding: to-rem(4);
    }
  }
}

.pagination-select-mobile {
  display: block;
}

.pagination-numbers {
  display: none;
  gap: to-rem(8);
}

@include respond-above($breakpoint-md) {
  .pagination-select-mobile {
    display: none;
  }

  .pagination-numbers {
    display: flex;
  }
}
