.header-bar {
  background-color: $color-background-light;
}

.header-bar-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: to-rem(16);

  @include apply-container-styles();

  padding-top: to-rem(16);
  padding-bottom: to-rem(16);
}
.sort-select-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 0;

  select {
    min-width: to-rem(150);
  }

  label {
    margin-right: to-rem(15);
    margin-bottom: 0;
  }
}
