.header-bar {
  background-color: $color-background-light;
}

.header-bar-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: to-rem(16);

  @include apply-container-styles();
  & {
    padding: to-rem(16) to-rem(10) !important;
    @include respond-above($breakpoint-xl) {
      padding: to-rem(16) 0 !important;
    }
  }
}
.sort-select-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 0;

  select {
    min-width: to-rem(150);
  }

  label {
    margin-right: to-rem(15);
    margin-bottom: 0;
  }
}
