.gallery-carousel {
  border-radius: to-rem(8);
  padding: to-rem(10);

  width: 100%;

  .main-slide {
    display: flex;

    position: relative;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  :global(.swiper-pagination) {
    position: absolute;

    margin-top: to-rem(15);
  }

  :global(.swiper-pagination-bullet) {
    transition:
      scale 0.3s ease,
      background-color 0.3s ease;

    background-color: $color-white-default;
    width: to-rem(11);
    height: to-rem(11);
    &:hover {
      scale: 1.2;
    }
  }

  :global(.swiper-pagination-bullet-active) {
    background-color: $color-primary-light;
  }
}

.gallery-carousel_image {
  border-radius: to-rem(8);

  width: 100%;
  height: auto;

  max-height: to-rem(440);
  object-fit: contain;

  &--clickable {
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
  }
}

.gallery-carousel_image--main {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.gallery-carousel-wrapper {
  display: grid;
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: to-rem(200);

  &--hide-main-carousel {
    min-height: auto;
  }

  .swiper-wrapper {
    height: auto;
  }

  .swiper-slide {
    height: auto;
  }

  .swiper-button-next,
  .swiper-button-prev {
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.9);
    width: to-rem(40);
    height: to-rem(40);
    color: #fff;

    &:after {
      font-size: to-rem(20);
    }

    &:hover {
      background: rgba(0, 0, 0, 0.7);
    }
  }
}

.products-btn {
  &_prev,
  &_next {
    display: flex;
  }

  &_prev {
    left: to-rem(10);
  }

  &_next {
    right: to-rem(10);
  }
}

.gallery-carousel-thumbs {
  margin-top: to-rem(20);
  width: 100%;

  .thumb-slide {
    opacity: 0.4;
    transition: opacity 0.3s ease;
    cursor: pointer;
    border-radius: to-rem(4);
    width: auto;
    height: to-rem(80);
    overflow: hidden;

    @include box-shadow();

    &:hover {
      opacity: 0.7;
    }

    &--active {
      opacity: 1;
    }
  }
}

.gallery-carousel-thumbs-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
