.search-dropdown {
  $search-dropdown-width: to-rem(500);

  position: absolute;
  top: calc(var(--search-dropdown-top) + to-rem(5));
  left: var(--search-dropdown-left);

  z-index: $z-index-search-dropdown;
  animation: slideDown 0.2s ease-out;

  box-shadow: $box-shadow-default;

  border: to-rem(1) solid $color-white-1;

  border-radius: to-rem(10);
  background: $color-background-default;

  width: var(--search-dropdown-width);

  max-height: to-rem(450);
  overflow-y: auto;

  &__content {
    display: flex;
    flex-direction: column;

    gap: to-rem(32);

    padding: to-rem(16);
  }

  &__no-results {
    padding: to-rem(20) to-rem(16);

    text-align: center;
  }

  &::-webkit-scrollbar {
    width: to-rem(5);
    height: to-rem(5);
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: to-rem(20);
    background: $color-primary-dark;
  }

  @include respond-above($breakpoint-xs) {
    left: calc(
      var(--search-dropdown-left) -
        ($search-dropdown-width - var(--search-dropdown-width))
    );

    width: $search-dropdown-width;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .search-dropdown {
    max-height: to-rem(300);
  }
}

.search-dropdown__spinner {
  justify-content: center;

  padding: to-rem(30) to-rem(20);
}

.search-dropdown__content-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(to-rem(110), 1fr));
  gap: to-rem(16);
}

.search-dropdown__products-content-list {
  display: flex;
  flex-direction: column;
  gap: to-rem(16);
}
