.select-wrapper {
  margin-bottom: to-rem(16);
}

.select-label {
  display: block;
  margin-bottom: to-rem(4);
  color: $color-text-button-primary;
  font-weight: 500;
  font-size: to-rem(14);
}

.select-element {
  display: block;
  appearance: none;
  transition:
    border-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;

  cursor: pointer;

  @include custom-box-shadow($color-shadow-default, 0, to-rem(2), 0.05);

  border: 1px solid $color-accent-default;
  border-radius: to-rem(6);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23dddddd' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right to-rem(12) center;
  background-size: 1.25em 1.25em;
  background-repeat: no-repeat;
  background-color: $color-background-default;
  padding: to-rem(10) to-rem(12);
  width: 100%;
  color: $color-text-button-primary;
  font-size: to-rem(14);

  &:hover {
    border-color: $color-primary-light;
  }

  &:focus {
    outline: none;
    --box-shadow-select: 0 1px 2px 0 rgb(0 0 0 / 0.05),
      0 0 0 to-rem(3) rgba($color-primary-default, 0.5);
    @include box-shadow-to-browsers(var(--box-shadow-select));

    border-color: $color-primary-default;
  }

  &.select-element-error {
    border-color: $color-error-default;

    &:focus {
      --box-shadow-select-error: 0 1px 2px 0 rgb(0 0 0 / 0.05),
        0 0 0 to-rem(3) rgba($color-error-default, 0.5);
      @include box-shadow-to-browsers(var(--box-shadow-select-error));

      border-color: $color-error-default;
    }
  }
}

.error-message {
  margin-top: to-rem(4);
  color: $color-error-default;
  font-size: to-rem(14);
}
