.products-btn {
  display: flex;
  position: absolute;
  top: 50%;
  z-index: 10;
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  border-radius: 50%;

  padding: to-rem(5);
  width: to-rem(30);
  height: to-rem(30);

  &:hover {
    transform: scale(1.2);
  }
}

.products-btn-dir-prev {
  left: 0;

  svg {
    transform: rotate(90deg);
  }
}

.products-btn-dir-next {
  right: 0;

  svg {
    transform: rotate(-90deg);
  }
}

.products-btn-theme-light {
  background-color: $color-white-2;

  &:hover {
    @include custom-box-shadow($color-white-default, 0, 0, 10em, true);
  }

  &:active {
    @include custom-box-shadow($color-white-2, 0, 0, 10em, true);
  }
}

.products-btn-theme-dark {
  background-color: $color-black-2;

  &:hover {
    @include custom-box-shadow($color-black-default, 0, 0, 10em, true);
  }

  &:active {
    @include custom-box-shadow($color-black-2, 0, 0, 10em, true);
  }
}
