.hero-wrapper {
  display: flex;
  position: fixed;
  top: $layout-top-padding-mobile;
  left: 0;
  z-index: 1;
  transition: top 0.3s ease-in-out;
  width: 100%;

  height: $scroll-container-height-mobile;

  min-height: $scroll-container-min-height;

  :global(.swiper-pagination) {
    bottom: to-rem(80);
  }

  :global(.swiper-pagination-bullet) {
    transition:
      scale 0.3s ease,
      background-color 0.3s ease;
    background-color: $color-white-default;
    width: to-rem(14);
    height: to-rem(14);

    &:hover {
      scale: 1.2;
    }
  }

  :global(.swiper-pagination-bullet-active) {
    opacity: 1;
    background-color: $color-primary-default;
  }

  :global(.swiper-button-next),
  :global(.swiper-button-prev) {
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0.8;

    border-radius: 50%;
    width: to-rem(35);
    height: to-rem(35);

    color: $color-white-default;

    &::after {
      display: flex;
      justify-content: center;
      align-items: center;

      transition: scale 0.3s ease;

      border-radius: 50%;
      background-color: $color-white-2;

      padding: to-rem(10);
      width: to-rem(35);
      height: to-rem(35);
    }

    &:hover {
      &::after {
        scale: 1.2;
      }
    }
  }

  @include respond-above($breakpoint-md) {
    height: $scroll-container-height;
  }

  @include respond-above($breakpoint-md) {
    top: $layout-top-padding;
  }

  &--scrolling {
    top: calc($header-height-mobile - to-rem(15));

    @include respond-above($breakpoint-md) {
      top: $header-height-scrolling;
    }
  }
}

.hero-swiper {
  height: 100%;
  pointer-events: auto;
}

.hero-image-container {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content-container {
  @include apply-container-styles();
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  margin: 0 auto;
  max-width: to-rem(900);
  pointer-events: auto;
}

.hero-main-heading {
  margin-bottom: to-rem(16);
}

.hero-scroll-container {
  height: $scroll-container-height;

  min-height: $scroll-container-min-height;
}

.hero-swiper-slide--not-initialized {
  width: 100vw !important;
  height: $scroll-container-height !important;
}
