.hero-wrapper {
  display: flex;
  position: fixed;
  top: $layout-top-padding-mobile;
  left: 0;
  z-index: 1;
  transition: top 0.3s ease-in-out;
  width: 100%;

  height: $scroll-container-height-mobile;

  min-height: $scroll-container-min-height;

  @include respond-above($breakpoint-md) {
    height: $scroll-container-height;
  }

  @include respond-above($breakpoint-md) {
    top: $layout-top-padding;
  }

  &--scrolling {
    top: calc($header-height-mobile - to-rem(15));

    @include respond-above($breakpoint-md) {
      top: $header-height-scrolling;
    }
  }
}

.hero-swiper {
  height: 100%;
  pointer-events: auto;
}

.hero-image-container {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content-container {
  @include apply-container-styles();
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  margin: 0 auto;
  max-width: to-rem(900);
  pointer-events: auto;
}

.hero-main-heading {
  margin-bottom: to-rem(16);
}

.hero-scroll-container {
  height: $scroll-container-height;
  // padding-top: $layout-top-padding-mobile;
  min-height: $scroll-container-min-height;

  @include respond-above($breakpoint-md) {
    // padding-top: $layout-top-padding;
  }
}
