.content-html {
  line-height: 1.2;

  * {
    line-height: 1.2;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: to-rem(20);
  }

  h1 {
    font-size: to-rem(48);
  }

  h2 {
    font-size: to-rem(42);
  }

  h3 {
    font-size: to-rem(38);
  }

  h4 {
    font-size: to-rem(32);
  }

  h5 {
    font-size: to-rem(24);
  }

  h6 {
    font-size: to-rem(20);
  }

  hr {
    margin: to-rem(25) 0;
    border: $color-text-bg-dark to-rem(1) solid;
  }

  p {
    margin: to-rem(15) 0;
  }

  ul,
  ol {
    margin: to-rem(20) to-rem(20);

    list-style: unset;
  }

  li {
    margin: to-rem(10) 0;
  }

  a {
    transition:
      color 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
    &:hover {
      transition:
        color 0.2s ease-in-out,
        opacity 0.2s ease-in-out;
      color: $color-text-primary;
    }

    &:active {
      opacity: 0.5;
    }
  }
}
