.label {
  display: block;
  margin-bottom: to-rem(8);
  color: $color-text-button-primary;
  font-weight: 500;
  font-size: to-rem(17);
}

.label-required {
  margin-left: to-rem(4);
  color: $color-error-light;
}
