.contact-bar-wrapper {
  background-color: $color-background-light;
  padding: to-rem(8) 0;
}

.contact-bar-address-element {
  @include apply-container-styles();
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-text-default;
  font-style: normal;
}

.location-info {
  display: flex;
  align-items: center;
  gap: to-rem(8);
}

.contact-details {
  display: flex;
  align-items: center;
  gap: to-rem(24);
}

.contact-link {
  display: flex;
  align-items: center;
  gap: to-rem(8);
  color: inherit;
  text-decoration: none;

  &:hover {
    color: $color-primary-light;
  }
}
