.drawer-panel {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  z-index: 50;
  transition: transform 0.3s ease-in-out;

  @include custom-box-shadow($color-shadow-default, 0, to-rem(2), 0.05);

  background-color: $color-background-light;
  padding: to-rem(12);
  width: 100%;
  max-width: $drawer-max-width;
  height: 100%;

  @include respond-above($breakpoint-md) {
    padding: to-rem(24);
  }
}

.drawer-panel-open {
  transform: translateX(0);
}

.drawer-header {
  display: flex;

  position: relative;
  justify-content: space-between;
  align-items: center;

  margin-bottom: to-rem(16);
  border-bottom: 1px solid $color-white-2;
  padding-bottom: to-rem(16);
}

.drawer-title {
  color: $color-text-default;
  font-weight: 600;
  font-size: to-rem(24);
}

.drawer-close-button {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  align-items: center;

  vertical-align: middle;

  padding: to-rem(4) to-rem(8);

  font-size: to-rem(34);

  &:hover {
    color: $color-text-dark;
  }
}

.drawer-content {
  margin-top: to-rem(24);
}
