.brands-group {
  margin-bottom: to-rem(40);

  &:last-child {
    margin-bottom: 0;
  }
}

.brands-group__letter {
  margin-bottom: to-rem(20);
  color: var(--color-primary);
  font-weight: 600;
}

.brands-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.brands-list__item {
  display: flex;
  align-items: center;

  transition: scale 0.2s ease-in-out;

  padding: 0;

  &:hover {
    scale: 1.05;
  }
}

.brands-list__item-link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: to-rem(20);

  width: 100%;

  font-size: to-rem(20);
  text-decoration: none;
}
