.footer-wrapper {
  border-top: 1px solid $color-border-light;
  background-color: rgba($color-background-default, 0.2);
  padding-top: to-rem(16);
  padding-bottom: to-rem(16);
  width: 100%;
}

.footer-container {
  @include apply-container-styles();
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  gap: to-rem(8);
}

.footer-nav-heading {
  margin-bottom: to-rem(8);
  color: $color-text-default;

  font-size: to-rem(18);
}

.footer-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li + li {
    margin-top: to-rem(4);
  }
}

.footer-nav-link {
  color: $color-text-default;
  text-decoration: none;
  &:hover {
    color: $color-primary-light;
    text-decoration: underline;
  }
}

.footer-contact-section {
  grid-column: span 2 / span 2;
  border-radius: to-rem(4);
  padding: to-rem(16);
  color: $color-text-default;
}
