.footer-wrapper {
  position: relative;
  z-index: 4;

  background-color: $color-background-default;

  padding-top: to-rem(16);
  padding-bottom: to-rem(16);
  width: 100%;
}

.footer-container {
  @include apply-container-styles();
}

.footer-nav-heading {
  margin-bottom: to-rem(20);
}

.footer-nav-list {
  display: flex;
  flex-direction: column;

  gap: to-rem(10);

  &__socials {
    flex-direction: row;

    gap: to-rem(15);
  }
}

.footer-nav-link {
  color: $color-text-dark;

  text-decoration: none;

  &__social {
    color: $color-text-default;
  }

  &:hover {
    color: $color-primary-light;
    text-decoration: underline;
  }
}

.footer-nav {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  gap: to-rem(20);

  border-bottom: $color-text-dark to-rem(1) solid;

  padding: to-rem(20) 0 to-rem(35);

  @include respond-below($breakpoint-xs) {
    grid-template-columns: 1fr;
  }

  @include respond-above($breakpoint-md) {
    grid-template-columns: repeat(3, 1fr);
    gap: to-rem(40);
  }
}
