.search {
  display: flex;
  align-items: center;
  gap: to-rem(5);

  transition:
    border-color 0.3s ease,
    max-width 0.3s ease,
    width 0.3s ease;

  border: to-rem(0.5) solid $color-white-1;
  border-radius: to-rem(10);

  width: to-rem(40);
  max-width: to-rem(40);
  overflow: hidden;

  &--expanded {
    width: to-rem(250);
    max-width: to-rem(250);
  }

  &:focus-within {
    border: 0.5px solid $color-white-default;
    color: $color-white-default;

    svg {
      color: $color-white-default;
    }
  }

  svg {
    flex-shrink: 0;
    transition:
      color 0.3s ease,
      opacity 0.3s ease;
    color: $color-white-2;
  }

  &-input-wrapper {
    flex: 1;
    transition: all 0.3s ease;
    max-width: 0;
    overflow: hidden;
    pointer-events: none;
  }

  &-input {
    opacity: 0;
    transition:
      width 0.3s ease,
      opacity 0.3s ease,
      padding 0.3s ease;

    border: none;
    background-color: transparent;
    padding: to-rem(8) to-rem(12);
    width: 0;

    color: $color-white-default;
    font-size: to-rem(14);

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $color-white-1;
    }

    &:disabled {
      opacity: 0.5;

      border-color: $color-white-2;

      pointer-events: none;
      color: $color-white-2;
    }
  }

  &--expanded &-input-wrapper {
    max-width: to-rem(200);
    pointer-events: auto;
  }

  &--expanded &-input {
    opacity: 1;
    width: 100%;
  }

  &-button {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;

    margin-left: to-rem(-5);
    padding: to-rem(8);
    min-width: to-rem(40);
    height: to-rem(40);

    &:disabled {
      opacity: 0.5;

      pointer-events: none;

      svg {
        color: $color-white-2;
      }
    }

    svg {
      color: $color-white-1;
    }
  }
}
