.about-us-section {
  background-color: $color-background-light;
  padding: to-rem(56) to-rem(16);
}

.about-us-container {
  @include apply-container-styles();
}

.about-us-heading {
  margin-bottom: to-rem(40);
  font-size: to-rem(36);
  text-align: center;
}

.content-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: to-rem(40);

  @include respond-above($breakpoint-lg) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.info-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.address-block {
  margin-bottom: to-rem(16);
  font-style: normal;
  font-weight: bold;
  font-size: to-rem(24);
}

.address-link {
  display: block;
  margin-bottom: to-rem(12);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.address-details {
  font-weight: normal;
}

.contact-list {
  &_socials {
    display: flex;
  }
}

.contact-list-item {
  display: flex;
  align-items: flex-start;

  padding: to-rem(12) 0;
}

.contact-link {
  display: flex;
  align-items: center;
  color: $color-text-default;
}

.contact-icon {
  margin-right: to-rem(8);
}
