.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 60;
  transition: opacity 0.3s ease-in-out;
  background-color: $color-background-default;
  pointer-events: none;
}

.overlay--open {
  opacity: 1;
  background-color: rgba($color-background-default, 0.5);
  pointer-events: auto;
}
