.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 40;
  transition: opacity 0.3s ease-in-out;
  background-color: #000000;
  pointer-events: none;
}

.overlay--open {
  opacity: 0.5;
  pointer-events: auto;
}
