.section-container--with-padding {
  padding: to-rem(56) to-rem(16);
}

.section-container--bg-light {
  background-color: $color-background-light;
}

.section {
  @include apply-container-styles();
}

.section--hide-padding {
  padding: 0;
}

.section-wrapper-title-desc-wrapper {
  margin-bottom: to-rem(40);
}
