
.contact-section-container {
  @include apply-container-styles(); 
  padding-top: to-rem(32);   
  padding-bottom: to-rem(32); 
}

.contact-main-heading {
  margin-bottom: to-rem(16);
}

.contact-sub-heading {
  
  margin-bottom: to-rem(32);     
  max-width: $breakpoint-md; 
}

.faq-link {
  margin-left: to-rem(4); 

  &:hover {
    text-decoration: underline;
  }
}