.input-wrapper {
  margin-bottom: to-rem(16);
}

.input-label {
  display: block;
  margin-bottom: to-rem(4);
  color: $color-text-button-primary;
  font-weight: 500;
  font-size: to-rem(14);
}

.input-field {
  display: block;
  border: 1px solid $color-accent-default;
  border-radius: to-rem(6);
  background-color: $color-background-default;
  padding: to-rem(10) to-rem(16);
  width: 100%;
  color: $color-text-button-primary;

  @include custom-box-shadow($color-shadow-default, 0, to-rem(2), 0.05);
  transition:
    border-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;

  font-size: to-rem(14);

  &:hover {
    border-color: $color-primary-light;
  }

  &:focus {
    outline: none;
    border-color: $color-primary-default;

    --box-shadow-input: 0 1px 2px 0 rgb(0 0 0 / 0.05),
      0 0 0 to-rem(3) rgba($color-primary-default, 0.5);
    @include box-shadow-to-browsers(var(--box-shadow-input));
  }

  &.input-field-error {
    border-color: $color-error-default;

    &:focus {
      border-color: $color-error-default;

      --box-shadow-input-error: 0 1px 2px 0 rgb(0 0 0 / 0.05),
        0 0 0 to-rem(3) rgba($color-error-default, 0.5);
      @include box-shadow-to-browsers(var(--box-shadow-input-error));
    }
  }
}

.error-message {
  margin-top: to-rem(4);
  color: $color-error-default;
  font-size: to-rem(14);
}
