// BASE

$base-font-size-for-rem: 16;

// COLORS

$color-secondary-default: #2e5c78;
$color-secondary-light: #407a9c;
$color-secondary-dark: #204459;

$color-primary-default: #627d4c;
$color-primary-light: #7b9c60;
$color-primary-dark: #4d633b;

$color-accent-default: #5c6b70;
$color-accent-light: #7c8a8f;
$color-accent-dark: #464f53;

$color-border-default: #242d25;
$color-border-light: #4f5b47;
$color-border-dark: #1a1f16;

$color-background-default: #0f0f0f;
$color-background-light: #1c1c1c;
$color-background-dark: #161515;

$color-error-default: #7a1f1f;
$color-error-light: #b33232;
$color-error-dark: #4e1515;

$color-success-default: #356d35;
$color-success-light: #4caf50;
$color-success-dark: #2c6b2f;

$color-warning-default: #a17717;
$color-warning-light: #c8912b;
$color-warning-dark: #7b5b10;

$color-white-default: #ffffff;
$color-white-2: #ffffff48;

$color-text-default: #dddddd;
$color-text-medium-dark: #cacacaf0;
$color-text-dark: #bababad8;
$color-text-bg-dark: #ffffff61;
$color-text-primary: #627d4c;
$color-text-secondary: #2e5c78;
$color-text-accent: #5c6b70;
$color-text-button-primary: #ffffff;
$color-text-button-secondary: #161a16;

$color-shadow-default: rgba(87, 87, 87, 0.514);

// CONTAINER

$container-padding: 1rem;
$container-screen-default: 100%;
$container-screen-2xl: 1200px;

$scroll-container-min-height: 300px;
$scroll-container-height: 85vh;

// HEADER

$layout-top-padding: 140px;
$layout-top-padding-mobile: 70px;
$header-height: 98px;
$header-height-mobile: 70px;
$header-height-scrolling: 62px;

// DRAWER

$drawer-max-width: 448px;

// BREAKPOINTS

$breakpoint-xs: 480px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-2md: 850px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;
$breakpoint-2xl: 1366px;

// TYPOGRAPHY

$default-font-family:
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Open Sans',
  'Helvetica Neue',
  sans-serif;

// BOX-SHADOW

$box-shadow-default: 0px 0px 10px 0px $color-shadow-default;
