@use '_variables' as *;
@use '_functions' as *;
@use '_mixins' as *;

@import 'modern-normalize/modern-normalize.css';

body {
  background-color: $color-background-default;

  min-height: 100vh;
  color: $color-text-default;
}

.layout-main {
  padding-top: $layout-top-padding;
  min-height: 100vh;
}

.container {
  @include apply-container-styles();

  padding: 0 to-rem(16);
}

a {
  color: $color-text-default;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
