@use '_variables' as *;
@use '_functions' as *;
@use '_mixins' as *;

@import 'modern-normalize/modern-normalize.css';

body {
  background-color: $color-background-default;
  min-height: 100vh;
  color: $color-text-default;
  line-height: 1;
  font-family: $default-font-family;
}

* {
  font-family: $default-font-family;
}

.layout-main {
  display: flex;
  flex-direction: column;

  padding-top: $layout-top-padding-mobile;
  min-height: 100vh;
  font-family: $default-font-family;

  @include respond-above($breakpoint-md) {
    padding-top: $layout-top-padding;
  }
}

.layout-content {
  display: flex;

  position: relative;
  flex: 1;
  flex-direction: column;
}

.container {
  @include apply-container-styles();

  @include respond-above($breakpoint-sm) {
    padding: 0 to-rem(16);
  }
}

a {
  color: $color-text-default;

  -webkit-tap-highlight-color: transparent;
}

address {
  font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  vertical-align: baseline;
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 100%;
  font-family: $default-font-family;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

*[hidden] {
  display: none;
}
menu,
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body {
  overflow-x: hidden;
}

html {
  overflow-y: auto !important;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  font-family: $default-font-family;
  -webkit-tap-highlight-color: transparent;
}
