.products-container {
  width: 100%;
}

.loading-or-error-container {
  @include apply-container-styles();
  padding: to-rem(32) to-rem(16);
  text-align: center;
}

.error-text {
  margin: to-rem(32) 0;

  color: $color-error-light;

  font-size: to-rem(26);

  text-align: center;
}

.controls-container {
  display: flex;
  align-items: center;
  gap: to-rem(16);
}

.main-content-container {
  @include apply-container-styles();
  display: flex;
  flex-direction: column;
  padding-right: to-rem(16);
  padding-left: to-rem(16);
}

.refreshing-text {
  padding: to-rem(16) 0;
  color: $color-text-default;
  text-align: center;
}

.products-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: to-rem(25);

  @include respond-above($breakpoint-sm) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include respond-above($breakpoint-md) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include respond-above($breakpoint-lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.no-products-text {
  color: $color-text-default;
  text-align: center;
}

.drawer-content-text {
  color: $color-text-default;
}

.drawer-apply-button {
  margin-top: to-rem(16);
}

.products-title-desc-wrapper {
  @include apply-container-styles();
  align-items: flex-start;

  text-align: left;
}

.products-pagination-wrapper {
  display: flex;
  justify-content: center;

  @include respond-above($breakpoint-md) {
    justify-content: flex-end;
  }
}
