.contact-form-wrapper {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: $breakpoint-md;
}

.contact-form {
  display: flex;
  flex-direction: column;

  gap: to-rem(24);
}

.form-submit-container {
  display: flex;

  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  gap: to-rem(20);

  text-align: center;

  @include respond-above($breakpoint-xs) {
    flex-direction: row;
  }

  @include respond-above($breakpoint-2md) {
    flex-direction: column;

    align-items: flex-end;
  }
}

.form-submit-button {
  width: 100%;

  @include respond-above($breakpoint-xs) {
    width: to-rem(250);
  }
}

.form-submit-error {
  color: $color-error-default;
}

.form-submit-success {
  color: $color-success-default;
}
