.contact-form-wrapper {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: $breakpoint-md;
}

.contact-form {
  display: flex;
  flex-direction: column;

  gap: to-rem(24);
}

.form-submit-container {
  text-align: center;
}

.form-submit-button {
  width: to-rem(200);
}
