.header-nav {
  display: none;

  @include respond-above($breakpoint-md) {
    display: flex;

    position: relative;

    align-items: center;
    align-self: stretch;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: to-rem(12);
  margin: 0;
  padding: 0;
  list-style: none;
}

.submenu-container {
  display: grid;
  position: absolute;

  top: 100%;
  left: 50%;
  grid-template-rows: 0fr;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition:
    grid-template-rows 0.3s ease-in-out,
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;

  @include custom-box-shadow($color-shadow-default, 4px, 10px, 0px);

  border-bottom-right-radius: to-rem(5);
  border-bottom-left-radius: to-rem(5);

  overflow: hidden;
}

.submenu-container-visible {
  grid-template-rows: 1fr;
  visibility: visible;
  opacity: 1;
}

.submenu-list {
  display: flex;
  margin: 0;
  background-color: $color-background-light;
  padding: to-rem(18);
  min-height: 0;
  list-style: none;
}

.submenu-items-wrapper {
  display: flex;
  overflow: hidden;
}

.submenu-items-content {
  display: flex;
  flex-direction: column;

  gap: to-rem(8);

  padding-right: to-rem(14);
}

.submenu-link {
  display: block;
  padding: to-rem(16) to-rem(8);
  width: 100%;

  text-align: left;
  white-space: nowrap;
}

.submenu-decorator {
  flex: 1 1 0%;
  border-radius: to-rem(10);
  background-color: $color-background-dark;
}

.link-btn-nav {
  justify-content: space-between;

  width: 100%;

  min-width: to-rem(200);
}
