.link-base {
  display: flex;

  align-items: center;
  transition:
    color 0.3s ease-in-out,
    text-decoration-color 0.3s ease-in-out;
  cursor: pointer;
  color: $color-text-default;
  text-decoration: none;

  &.link-should-fill-icon {
    svg {
      transition: fill 0.3s ease-in-out;
    }
  }

  &:focus {
    outline: none;
  }
}

.link-primary {
  &:hover {
    color: $color-primary-default;
    text-decoration: underline;

    &.link-should-fill-icon {
      svg {
        fill: $color-primary-default;
      }
    }
  }
  &:focus,
  &:active {
    color: $color-primary-light;
    text-decoration: underline;

    &.link-should-fill-icon {
      svg {
        fill: $color-primary-light;
      }
    }
  }
}

.link-secondary {
  &:hover {
    color: $color-secondary-default;
    text-decoration: underline;

    &.link-should-fill-icon {
      svg {
        fill: $color-secondary-default;
      }
    }
  }
  &:focus,
  &:active {
    color: $color-secondary-light;
    text-decoration: underline;

    &.link-should-fill-icon {
      svg {
        fill: $color-secondary-light;
      }
    }
  }
}

.link-accent {
  &:hover {
    color: $color-accent-default;
    text-decoration: underline;

    &.link-should-fill-icon {
      svg {
        fill: $color-accent-default;
      }
    }
  }
  &:focus,
  &:active {
    color: $color-accent-light;
    text-decoration: underline;

    &.link-should-fill-icon {
      svg {
        fill: $color-accent-light;
      }
    }
  }
}

.link-size {
  &--small {
    font-size: to-rem(16);
  }

  &--medium {
    font-size: to-rem(18);
  }

  &--large {
    font-size: to-rem(20);
  }

  &--x-large {
    font-size: to-rem(22);
  }

  &--xx-large {
    font-size: to-rem(24);
  }
}

.icon-wrapper {
  display: flex;
  align-items: center;
}

.leading-icon-wrapper {
  @extend .icon-wrapper;
  margin-right: to-rem(4);
}

.trailing-icon-wrapper {
  @extend .icon-wrapper;
  margin-left: to-rem(4);
}
