.section-handler_bg-light {
  background-color: $color-background-light;
}

.section-handler_bg-primary {
  background-color: $color-primary-dark-2;
}

.section-handler_bg-secondary {
  background-color: $color-secondary-dark;
}

.section-handler_default {
  background-color: $color-background-default;
}

.section-handler_full-size-wrapper {
  padding: to-rem(40) to-rem(16) !important;
}
